<%= form_for(@fixed_deposit) do |f| %>
  <% if @fixed_deposit.errors.any? %>    
      <div id="error_explanation">
        <h2><%= pluralize(@fixed_deposit.errors.count, "error") %> prohibited this fixed_deposit from being saved:</h2>

        <ul>
          <% @fixed_deposit.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    
  <% end %>
  <div class="wrapper col-md-4 pull-left">
  <ul>
    <li>Debit Account Number : </li>
    <li>Amount Of Deposit* : </li>
    <li>Type Of Deposit* : </li>
    <li>Tenure Of Deposit(Year)* : </li>
    <li>Tenure Of Deposit(Months)* : </li>
    <li>Tenure Of Deposit(days)* : </li>
    <li>PAN : 
    <label class="col-md-12">(PAN is compulsory for FD request of Rs.50,000/- and above)</label>
    </li>
    <li>Maturity Proceeds* : </li>
    <li>Mobile Number** : </li>
    <li>Email ** : </li>
  </ul>
</div>
<div class="wrapper input-field col-md-4">
  <ul>
    <li>
       <%= f.text_field :debit_account_number, class: "form-control" %>
    </li>
    
    <li>
      <%= f.text_field :amount_deposit, class: "form-control" %>
    </li>
      
    <li>
      <%= f.select :deposit_type, options_for_select(['Saving', 'Current', 'Salary', 'Fixed']), class: "form-control"%>    
    </li>
      
    <li>
      <%= f.text_field :tenure_seposit_years, class: "form-control" %>
    </li>
      
    <li>
      <%= f.text_field :tenure_seposit_months, class: "form-control" %>
    </li>
      
    <li>
      <%= f.text_field :tenure_seposit_days, class: "form-control" %>
    </li>
      
    <li>
      <%= f.text_field :pan, class: "form-control" %>
    </li>
      
    <li>
      <%= f.text_field :maturity_proceeds, class: "form-control" %>
    </li>
      
    <li>
      <%= f.text_field :mobile_number, class: "form-control" %>
    </li>
      
    <li></li>
      <%= f.text_field :email, class: "form-control" %>
    <li>
      <%= f.text_field :age, class: "form-control" %>
    </li>
      
  </ul>
  <div class="actions">
    <%= f.submit class: "btn btn-primary pull-right", data: { confirm: 'are you sure?'} %> <%= link_to 'Back', fixed_deposits_path %>
  </div>
  </div>
<% end %>

<div class="wrapper comment-section col-md-4">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li>
    <label>Fixed deposit Interest Rate</label>
    </li>
    <li></li>
  </ul>
</div>