<p id="notice"><%= notice %></p>

<h1>Listing Fixed Deposits</h1>

<table>
  <thead>
    <tr>
      <th>Debit account number</th>
      <th>amount deposit</th>
      <th>Deposit type</th>
      <th>Tenure seposit years</th>
      <th>Tenure seposit months</th>
      <th>Tenure seposit days</th>
      <th>Pan</th>
      <th>Maturity proceeds</th>
      <th>Mobile number</th>
      <th>Email</th>
      <th>Age</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @fixed_deposits.each do |fixed_deposit| %>
      <tr>
        <td><%= fixed_deposit.debit_account_number %></td>
        <td><%= fixed_deposit.amount_deposit %></td>
        <td><%= fixed_deposit.deposit_type %></td>
        <td><%= fixed_deposit.tenure_seposit_years %></td>
        <td><%= fixed_deposit.tenure_seposit_months %></td>
        <td><%= fixed_deposit.tenure_seposit_days %></td>
        <td><%= fixed_deposit.pan %></td>
        <td><%= fixed_deposit.maturity_proceeds %></td>
        <td><%= fixed_deposit.mobile_number %></td>
        <td><%= fixed_deposit.email %></td>
        <td><%= fixed_deposit.age %></td>
        <td><%= link_to 'Show', fixed_deposit %></td>&nbsp;
        <td><%= link_to 'Edit', edit_fixed_deposit_path(fixed_deposit) %></td>&nbsp;
        <td><%= link_to 'Destroy', fixed_deposit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fixed deposit', new_fixed_deposit_path %>
